body{
      background-color:#D5E1EF;
      font-family:cursive;
      text-align: center;
}
.card{
      position: fixed;
      margin: auto;
      inset: 0;
      height: 471px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
      max-width: 302px;
      border-radius: 16px;
      background-color: #FFFFFF;
      padding: 1rem;
      padding-bottom: 3rem;
}
img{
      width: 100%;
      border-radius: 8px;
}
h3{
      color: #252d47;
}
p{
      color: #A9AAB2;
}